/bin/AdbApi.dll
/bin/AdbApi.ilk
/bin/AdbApi.pdb
/bin/AdbUsb.dll
/bin/AdbUsb.ilk
/bin/AdbUsb.pdb
/build/.vs/AndroidDevice/v15/.suo
/build/.vs/AndroidDevice/v15/Browse.VC.db
/build/.vs/AndroidDevice/v15/Solution.VC.db
/build/.vs/AndroidDevice/v15/Solution.VC.db-shm
/build/.vs/AndroidDevice/v15/Solution.VC.db-wal
/build/.vs/AndroidDevice/v15/ipch/4cf5f6a474d1428a.ipch
/build/.vs/AndroidDevice/v15/ipch/b9b9fcc79511002c.ipch
/build/.vs/AndroidDevice/v15/ipch/d7b9874dd7726d78.ipch
/build/ALL_BUILD.vcxproj
/build/ALL_BUILD.vcxproj.filters
/build/ALL_BUILD.vcxproj.user
/build/AndroidDevice.sln
/build/CMakeCache.txt
/build/CMakeFiles/3.10.18011902-MSVC_2/CMakeCCompiler.cmake
/build/CMakeFiles/3.10.18011902-MSVC_2/CMakeCXXCompiler.cmake
/build/CMakeFiles/3.10.18011902-MSVC_2/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/3.10.18011902-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
/build/CMakeFiles/3.10.18011902-MSVC_2/CMakeRCCompiler.cmake
/build/CMakeFiles/3.10.18011902-MSVC_2/CMakeSystem.cmake
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdC/CompilerIdC.exe
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdC/CompilerIdC.vcxproj
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdC/Debug/CMakeCCompilerId.obj
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.write.1u.tlog
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdC/Debug/vcpkg.applocal.log
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdCXX/CompilerIdCXX.exe
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdCXX/CompilerIdCXX.vcxproj
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.write.1u.tlog
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/build/CMakeFiles/3.10.18011902-MSVC_2/CompilerIdCXX/Debug/vcpkg.applocal.log
/build/CMakeFiles/3.10.18011902-MSVC_2/VCTargetsPath.txt
/build/CMakeFiles/3.10.18011902-MSVC_2/VCTargetsPath.vcxproj
/build/CMakeFiles/3.10.18011902-MSVC_2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
/build/CMakeFiles/CMakeOutput.log
/build/CMakeFiles/TargetDirectories.txt
/build/CMakeFiles/c6558b28587acd30e9a0c74c0adc3acc/generate.stamp.rule
/build/CMakeFiles/cmake.check_cache
/build/CMakeFiles/feature_tests.bin
/build/CMakeFiles/feature_tests.cxx
/build/CMakeFiles/generate.stamp
/build/CMakeFiles/generate.stamp.depend
/build/CMakeFiles/generate.stamp.list
/build/ZERO_CHECK.vcxproj
/build/ZERO_CHECK.vcxproj.filters
/build/adb_winapi_test/AdbTest.dir/Debug/AdbTest.log
/build/adb_winapi_test/AdbTest.dir/Debug/AdbTest.tlog/AdbTest.lastbuildstate
/build/adb_winapi_test/AdbTest.dir/Debug/AdbTest.tlog/CL.command.1.tlog
/build/adb_winapi_test/AdbTest.dir/Debug/AdbTest.tlog/custombuild.command.1.tlog
/build/adb_winapi_test/AdbTest.dir/Debug/AdbTest.tlog/custombuild.read.1.tlog
/build/adb_winapi_test/AdbTest.dir/Debug/AdbTest.tlog/custombuild.write.1.tlog
/build/adb_winapi_test/AdbTest.dir/Debug/AdbTest.tlog/unsuccessfulbuild
/build/adb_winapi_test/AdbTest.dir/Debug/vc141.pdb
/build/adb_winapi_test/AdbTest.vcxproj
/build/adb_winapi_test/AdbTest.vcxproj.filters
/build/adb_winapi_test/CMakeFiles/generate.stamp
/build/adb_winapi_test/CMakeFiles/generate.stamp.depend
/build/adb_winapi_test/cmake_install.cmake
/build/api/AdbApi.dir/Debug/AdbApi.log
/build/api/AdbApi.dir/Debug/AdbApi.tlog/AdbApi.lastbuildstate
/build/api/AdbApi.dir/Debug/AdbApi.tlog/AdbApi.write.1u.tlog
/build/api/AdbApi.dir/Debug/AdbApi.tlog/CL.command.1.tlog
/build/api/AdbApi.dir/Debug/AdbApi.tlog/CL.read.1.tlog
/build/api/AdbApi.dir/Debug/AdbApi.tlog/CL.write.1.tlog
/build/api/AdbApi.dir/Debug/AdbApi.tlog/custombuild.command.1.tlog
/build/api/AdbApi.dir/Debug/AdbApi.tlog/custombuild.read.1.tlog
/build/api/AdbApi.dir/Debug/AdbApi.tlog/custombuild.write.1.tlog
/build/api/AdbApi.dir/Debug/AdbApi.tlog/link.command.1.tlog
/build/api/AdbApi.dir/Debug/AdbApi.tlog/link.delete.1.tlog
/build/api/AdbApi.dir/Debug/AdbApi.tlog/link.read.1.tlog
/build/api/AdbApi.dir/Debug/AdbApi.tlog/link.write.1.tlog
/build/api/AdbApi.dir/Debug/AdbApi.tlog/rc.command.1.tlog
/build/api/AdbApi.dir/Debug/AdbApi.tlog/rc.read.1.tlog
/build/api/AdbApi.dir/Debug/AdbApi.tlog/rc.write.1.tlog
/build/api/AdbApi.dir/Debug/AdbWinApi.obj
/build/api/AdbApi.dir/Debug/AdbWinApi.res
/build/api/AdbApi.dir/Debug/adb_api.obj
/build/api/AdbApi.dir/Debug/adb_api_instance.obj
/build/api/AdbApi.dir/Debug/adb_endpoint_object.obj
/build/api/AdbApi.dir/Debug/adb_helper_routines.obj
/build/api/AdbApi.dir/Debug/adb_interface.obj
/build/api/AdbApi.dir/Debug/adb_interface_enum.obj
/build/api/AdbApi.dir/Debug/adb_io_completion.obj
/build/api/AdbApi.dir/Debug/adb_legacy_endpoint_object.obj
/build/api/AdbApi.dir/Debug/adb_legacy_interface.obj
/build/api/AdbApi.dir/Debug/adb_legacy_io_completion.obj
/build/api/AdbApi.dir/Debug/adb_object_handle.obj
/build/api/AdbApi.dir/Debug/stdafx.obj
/build/api/AdbApi.dir/Debug/vc141.pdb
/build/api/AdbApi.dir/Debug/vcpkg.applocal.log
/build/api/AdbApi.vcxproj
/build/api/AdbApi.vcxproj.filters
/build/api/AdbApi.vcxproj.user
/build/api/CMakeFiles/generate.stamp
/build/api/CMakeFiles/generate.stamp.depend
/build/api/Debug/AdbApi.exp
/build/api/Debug/AdbApi.lib
/build/api/Debug/stdafx.pch
/build/api/cmake_install.cmake
/build/cmake_install.cmake
/build/winusb/AdbUsb.dir/Debug/AdbUsb.log
/build/winusb/AdbUsb.dir/Debug/AdbUsb.tlog/AdbUsb.lastbuildstate
/build/winusb/AdbUsb.dir/Debug/AdbUsb.tlog/AdbUsb.write.1u.tlog
/build/winusb/AdbUsb.dir/Debug/AdbUsb.tlog/CL.command.1.tlog
/build/winusb/AdbUsb.dir/Debug/AdbUsb.tlog/CL.read.1.tlog
/build/winusb/AdbUsb.dir/Debug/AdbUsb.tlog/CL.write.1.tlog
/build/winusb/AdbUsb.dir/Debug/AdbUsb.tlog/custombuild.command.1.tlog
/build/winusb/AdbUsb.dir/Debug/AdbUsb.tlog/custombuild.read.1.tlog
/build/winusb/AdbUsb.dir/Debug/AdbUsb.tlog/custombuild.write.1.tlog
/build/winusb/AdbUsb.dir/Debug/AdbUsb.tlog/link.command.1.tlog
/build/winusb/AdbUsb.dir/Debug/AdbUsb.tlog/link.read.1.tlog
/build/winusb/AdbUsb.dir/Debug/AdbUsb.tlog/link.write.1.tlog
/build/winusb/AdbUsb.dir/Debug/AdbUsb.tlog/rc.command.1.tlog
/build/winusb/AdbUsb.dir/Debug/AdbUsb.tlog/rc.read.1.tlog
/build/winusb/AdbUsb.dir/Debug/AdbUsb.tlog/rc.write.1.tlog
/build/winusb/AdbUsb.dir/Debug/AdbWinUsbApi.obj
/build/winusb/AdbUsb.dir/Debug/AdbWinUsbApi.res
/build/winusb/AdbUsb.dir/Debug/adb_winusb_endpoint_object.obj
/build/winusb/AdbUsb.dir/Debug/adb_winusb_interface.obj
/build/winusb/AdbUsb.dir/Debug/adb_winusb_io_completion.obj
/build/winusb/AdbUsb.dir/Debug/stdafx.obj
/build/winusb/AdbUsb.dir/Debug/vc141.pdb
/build/winusb/AdbUsb.dir/Debug/vcpkg.applocal.log
/build/winusb/AdbUsb.vcxproj
/build/winusb/AdbUsb.vcxproj.filters
/build/winusb/CMakeFiles/generate.stamp
/build/winusb/CMakeFiles/generate.stamp.depend
/build/winusb/Debug/AdbUsb.exp
/build/winusb/Debug/AdbUsb.lib
/build/winusb/Debug/stdafx.pch
/build/winusb/cmake_install.cmake
/build/x64/Debug/ALL_BUILD/ALL_BUILD.log
/build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
/build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.command.1.tlog
/build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.read.1.tlog
/build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.write.1.tlog
/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
